<h1>Edit Band</h1>

<form action="<%= band_url(@band) %>" method= "post">
    <input type="hidden" name="_method" value="patch">

    <label>
        Name: 
        <input type="text" name="band[name]" value="<%= @band.name %>">
    </label>

    <br>
    <br>

    <button type="submit">Edit Band</button>
</form>