<h1>Create New Band</h1>

<form action="<%= bands_url %>" method= "post">

    <label>
        Name: 
        <input type="text" name="band[name]">
    </label>

    <br>
    <br>

    <button type="submit">Create Band</button>
</form>